html, body {
  max-width: 300px;
  margin: 0;
}

h3 {
  margin: 0;
  font-family: Arial;
  padding: 4px 0 0 4px;
  font-size: 1em;
}

.hidden {
  display: none;
}

.button {
  padding: 2px 6px;
  text-align: left;
  font-size: 1em;
  cursor: pointer;
}

#version {
  text-align: right;
  padding-right: 5px;
}

hr { margin: 0; }

.bookmarklet:hover {
  background-color: #CFF2F2;
}
