body#body_id_xml_file_po\.poline_summary\.xml.showOrderNow div.btnWrapper div.responsiveMenuContainer,
body#body_id_xml_file_po\.poline_summary\.xml.showOrderNow div.btnWrapper div.jsResponsive:nth-child(5) {
  display: block !important;
}

div.customedMessageContainer {
  position: fixed !important;
  top: unset !important;
  bottom: 0 !important;
}

.tu_lAma_Dublette #TABLE_DATA_marcFieldsList,
.marcEditor.mainContainer.tu_lAma_Dublette {
    color: #E00009 !important;
}

#loadingBlocker img { display: none; }

.tu_lAma_lb #loadingBlocker {
    img {
        display: block;
        position: absolute;
        top: 18px;
        left: 18px;
        width: 64px;
    }
    .circular {
        display: none;
    }
}

body.tu_lAma_marc_hc .mainContainer,
body.tu_lAma_marc_hc {
    color: black;
}
body.tu_lAma_marc_hc .facetsWrapper .facets li input,
.recordNavPanes .typeD table.innerList td,
.recordNavPanes .typeD table.innerList th {
	color: black !important;
}

.tu_lAma_marc_ff {
    @color: #4a138c;
    @indcolor: #4370c0;
    @subcolor: #dd00a9;

    .recordNavPanes .typeD table.innerList th {
        color: white !important;
    }

    @import (multiple) "marc21col.less";
}
.tu_lAma_bg_ff {

    @color: #4a138c;
    @bgcolor: #340171;
    @bgcolor1: #7119db;
    @widgetcol: #843cdb;

    @import (multiple) "coltemplate.less";
}

.tu_lAma_marc_ju {
    @color: #715581;
    @indcolor: #817155;
    @subcolor: #558171;

    @import (multiple) "marc21col.less";
}

.tu_lAma_bg_ju {
    @color: #715581;
    @bgcolor: #815565;
    @bgcolor1: #81557B;
    @widgetcol: #817155;

    @import (multiple) "coltemplate.less";
}

.tu_lAma_marc_rgb {
    @color: #1a5e1f;
    @indcolor: blue;
    @subcolor: red;

    @import (multiple) "marc21col.less";
}
