#TABLE_DATA_marcFieldsList .labelField { color: @color; }
#TABLE_DATA_marcFieldsList .indicator { color: @indcolor; font-weight: bold; }
#TABLE_DATA_marcFieldsList .subField  { color: @subcolor; font-weight: bold; }

input[id^="FieldTagBox"] { color: @color !important; font-weight: bold; }
input[id^="FieldIndicatorBox"] { color: @indcolor !important; font-weight: bold; }
#titleFieldLabelId .subField  { color: @subcolor !important; font-weight: bold; }

div[id^="MarcEditorPresenter\.textArea"] > div { display: block !important; }
div[id^="MarcEditorPresenter\.textArea"] #titleFieldLabelId { display: block !important; }
div[id^="MarcEditorPresenter\.textArea"] textarea { display: none !important; }

tr.selectedRow div[id^="MarcEditorPresenter\.textArea"] #titleFieldLabelId { display: none !important; }
tr.selectedRow div[id^="MarcEditorPresenter\.textArea"] textarea { display: block !important; }
