.tulama-tuwsys.ui-menu.ui-widget-content {
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  max-width: 50%;
}

.tulama-tuwsys .ui-menu-item b {
  min-width: 3em;
  display: inline-block;
  text-align: right;
}
.tulama-tuwsys .ui-menu-item b.sub {
  margin-left: 1em;
}
.tulama-tuwsys .ui-menu-item p.sub {
  padding-left: 1em;
  margin: 0;
}

.tulama-tuwsys .ui-menu-item.tuwsub {
  display: inline-block;
  float: left;
}
.tulama-tuwsys .ui-menu-item.tuwsub b.sub {
  margin-left: 0;
}

.tulama-tuwsys.ui-autocomplete .tuwsub.ui-menu-item {
  margin-bottom: -1px;
  z-index: 100;
}

.tulama-tuwsys.ui-autocomplete .tuwsub:hover .beschr {
  display: block;
  position: absolute;
  display: block;
  background-color: white;
  z-index: 110;
  top: 20px;
  left: 60px;
  border: 1px solid black;
  color: black;
  white-space: nowrap;
  padding: 2px;
}

.tulama-tuwsys.ui-autocomplete .tuwsub .beschr,
.tulama-tuwsys.ui-autocomplete .tuwsub:hover .beschr div.tuwsys-tooltip {
  display: none;
}

.tulama-tuwsys.ui-autocomplete.ui-menu .ui-state-active,
.tulama-tuwsys.ui-autocomplete.ui-menu .ui-state-focus {
    margin: 0;
}

.tulama-tuwsys .ui-menu-item a div.tuwsys-tooltip {
  display: none;
}
.tulama-tuwsys .ui-menu-item a.ui-state-active div.tuwsys-tooltip {
  position: absolute;
  display: block;
  background-color: white;
  z-index: 1000;
  border: 1px solid black;
  top: 0;
  right: 0;
  color: black;
  font-weight: 400;
  white-space: nowrap;
  padding: 5px;
}
.tulama-tuwsys.ui-menu.ui-widget-content a.ui-menu-item-wrapper.ui-state-active {
  border: none;
  background: #007fff;
  font-weight: normal;
  color: #ffffff;
}
.tulama-tuwsys .autocomplete_title .ui-state-active {
	border: none;
	background: white;
	font-weight: 600;
	color: black;
}

.tulama-tuwsys.ui-menu.ui-widget-content a.ui-menu-item-wrapper {
  width: 100%;
  padding: 1px;
  display: list-item;
}
.tulama-tuwsys.ui-autocomplete.ui-menu.ui-widget-content .ui-menu-item {
  padding: 0px 2px;
}
.tulama-tuwsys.ui-menu.ui-widget-content a.ui-menu-item-wrapper:focus,
.tulama-tuwsys.ui-menu.ui-widget-content a.ui-menu-item-wrapper:hover,
.tulama-tuwsys.ui-menu.ui-widget-content .ui-menu-item-wrapper a:focus,
.tulama-tuwsys.ui-menu.ui-widget-content .ui-menu-item-wrapper a:hover {
    text-decoration: none;
}

.tulama-tuwsys.ui-menu.ui-widget-content .konk .ui-state-active {
    border: none;
    margin: 0;
}

.tulama-tuwsys.ui-menu.ui-widget-content .konk .tuwsub {
    display: none;
    position: absolute;
    background: white;
    top: 5px;
    left: 70px;
    border: solid 1px;
    z-index: 10;
}

.tulama-tuwsys.ui-menu.ui-widget-content .konk:hover .tuwsub {
    display: block;
}

#breadcrumbs .searchString {
    max-height: 70px;
    overflow-y: hidden;
}
#breadcrumbs + #breadcrumbsAffixedElementPlaceholder {
    max-height: 100px;
}
